html {
	background-color: #ffffff;
}
body
{
  #background: none;
}

#container
{
  width: 100%;
  #background: none;
}

#content
{
  padding: 25px;
  padding-top: 0;
}

#menu
{
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 30px;;
  background-color: #c26307;
  color: #ffffff;
}

#menu a {
  color: #ffffff;
  font-family: Georgia;
  text-transform: uppercase;
  text-decoration: none;
}
#menu a:hover {
  text-decoration: underline;
}
#menu li
{
  margin-right: 15px;
  display: inline;
}

#content h1
{
  padding: 0;
  background: transparent;
  margin-bottom: 20px;
  color: #c26307;
  font-size: 30px;
  font-family: Georgia, Arial;
  font-weight: normal;
  text-transform: uppercase;
}

td, th
{
  padding: 7px;
}

th
{
  font-weight: bold;
}

#footer
{
  #clear: both;
  #padding: 25px;
  #margin-top: 0;
  #height: auto;
  #font-family: arial,sans-serif;
  #font-size: 80%;
  #float: right;
  #color: #666;
  #background: none;
}

#footer img
{
  vertical-align: middle;
}

#sf_admin_container fieldset h2
{
  font-size: 110%;
  font-family: arial,sans-serif;
  font-style: italic;
}

.sf_admin_form_field_logo div div
{
  margin-left: 120px;
}

#sf_admin_container label {
	width:150px;
}

#sf_admin_container .sf_admin_form_row .content {
	padding-left: 20px;
}

#sf_admin_container input, #sf_admin_container textarea {
	width:600px;
	height:26px;
}
#sf_admin_container .sf_admin_filter input, 
#sf_admin_container .sf_admin_filter textarea {
	width:200px;
	height:26px;
}
#sf_admin_container input[type="submit"], 
#sf_admin_container input[type="checkbox"]{
	width: auto;
	height:auto;
	padding: 2px 5px;
}
 #sf_admin_container .sf_admin_form_field_logo div div label
{
  display: inline;
  float: none;
}

#header h1
{
  width: auto;
}
#sf_admin_container td,
#sf_admin_container th {

	border: 1px solid #c26307;
	text-align: left;
	vertical-align: top;
}
#sf_admin_container th {
	background-color: #fccda0;
	white-space: nowrap;
}

.sf_admin_list table {
	width: 55%;
}

#sf_admin_container table.mceLayout td{
	border: 0px;
}

#sf_admin_container table .last{
	background: none;
}

#sf_admin_container table .last td{
	border: none;
}

#sf_admin_container table .last tr {
	background: none;
}
#signin_username,
#signin_password  {
	width:300px;
	height:22px;
	padding: 3px;
}
input[value="Signin"] {
	padding:3px 5px;
}