/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper { 
 margin: 0 auto;
 width: 982px;
}
#faux {
 margin-bottom: 5px;
 overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
 width: 100%
}
#header {
 width: 982px;
}
#leftcolumn { 
 display: inline;
 color: #333;
 margin: 0px 30px 0px 28px;
 padding: 0px;
 width: 222px;
 float: left;
}
#content { 
 float: left;
 color: #333;
 padding: 0px;
 width: 422px;
 display: inline;
 position: relative;
}
#rightcolumn { 
 display: inline;
 position: relative;
 color: #333;
 margin: 0px 28px 0px 30px;
 padding: 0px;
 width: 222px;
 float: right;
}
#footer { 
 width: 982px;
 clear: both;
}
.clear { clear: both; background: none; }