body {
	font-family: Georgia;
	font-size: 15px;
	color: #333333;
	margin-top:40px;
	background:#c3c3c3;
	text-align:center;
}
a, a:hover, a:visited {
	text-decoration:none;
	color: #333333;
}
a:hover{
	text-decoration:underline;
}
p, h1, h2, h3 {
	text-align: left;
}
.center {
	text-align:center;
}
#wrapper { 
	background: #ffffff;
}
#header {
	margin-bottom: 30px;
}
.header {
	background: url(../images/header.jpg);
	height:241px;
}
#footer {
	height: 64px;
	line-height: 64px;
	background: #c26307;
	color: #fefefe;
	text-align: center;
	margin-bottom:40px;
}
#footer p {
	text-align: center;
	margin:0px;
}
#header #live {
	float:right;
	margin: 38px 54px 0px 0px;	
}
#menu {
	padding:0px;
	margin:0px;
	height:40px;
	line-height:40px;
	background: #c26307;
	color: #fefefe;
	font-size: 16px;
	font-family: Georgia;
	text-transform: uppercase;
}
#menu li {
	text-decoration: none;
	display:inline;
	margin: 0px 30px 0px 0px;
}
#menu li a{
	color: #fefefe;
	text-decoration: underline;
}
.banner {
	margin-bottom: 10px;
	display:block;
}
h2 {
	color: #c26307;
	font-size:30px;
	font-weight:normal;
	text-transform: uppercase;
	margin:0px;
}
.threecol .col1 p {
	margin-bottom:25px;
}
.separator {
	height: 2px;
	background: #e2e2e2;
	text-align:center;
	margin: 20px 0px;
}
.tag {
	height:35px;
	overflow: visible;
	margin-left: -14px;
	margin-bottom:10px;
}
.tag img {
	float:left;
}
.tag .tag-content {
	float:left;
	background: url(../images/tag_bg.png) repeat-x;
	height: 30px;
	line-height: 30px;
	padding:0px 25px 0px 12px;
	color: #ffffff;
	margin:0px;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}
.block {
	padding:10px;
	background: #e5e5e5;
	width:198px;
	margin:0px 0px 20px 4px;
	clear: both;
	float: left;
}
.block a {
	color: #333333;
	text-decoration:none;
}
.block a:hover {
	text-decoration:underline;
}
.block .columnista {
	text-align:left;
	font-size: 14px;
	clear:both;
}
.block .columnista img{
	float:left;
	margin: 0px 8px 8px 0px;
	border-bottom: 2px solid #c26307;
}
.block .columnista p a {
	font-size: 14px;
}
.block .columnista p {
	padding:15px 0px 0px 0px;
	margin:0px;
}
.block ul.destacada {
	text-align:left;
	list-style:none;
	padding: 0px;
	margin:0px;
}
.block ul.destacada li {
	border-bottom:1px dotted #a5a5a5;
	font-weight: bold;
	padding: 0px 0px 11px 0px;
	margin: 15px 0px 0px 0px;
}
.block .destacada-more {
	display:block;
	margin-top: 17px;
	font-weight: bold;
	font-size:11px;
	color: #c26307;
	text-align:right;
	text-transform: uppercase;
}
.block .social-icon {
	float:left;
	margin-right: 11px;
}
#gallery {
	padding-top: 20px;
}
#gallery .child {
	margin:0px 14px 12px 0px; 
	float:left;
}
#gallery .child.last {
	margin-right:0;
}
.noticia {
	display:block;
	padding:25px 0px;
	border-bottom: 2px solid #e2e2e2;
}
.noticia a {
	color: #333333;
	text-decoration:none;
}
.noticia a:hover {
	text-decoration:underline;
}
.noticia img {
	float:left;
	margin-right: 11px;
}
.noticia p.date, .detalle-noticia p.date {
	color: #c26307;
	font-size:12px;
	margin:0px 0px 10px 0px;
}
.noticia h3 {
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	margin:0px 0px 8px 0px;
}
.noticia p {
	font-size:12px;
	margin:0px;
}
.detalle-noticia .detail-photo img{
	width:100%;
	float:left;
}
.detalle-noticia .photo-desc {
	text-align: left;
	background: #000000;
	color: #ffffff;
	height:40px;
	line-height: 40px;
	font-size:12px;
	margin:0px;
	clear:both;
	padding: 0px 10px;
	text-overflow: hidden;
}
.detalle-noticia .photo-desc .photo-arrow {
	font-family: arial;
	color: #c26307;
	margin-right: 5px;
}
.pagination {
	margin-top: 20px;
	font-weight: bold;
}
.pagination .pagination-arrow {
	font-family: arial;
	font-size: 13px;
}
.pagination a.pagination-arrow,
.pagination a:hover.pagination-arrow {
	font-family: arial;
	font-size: 12px;
	text-decoration: none;
}
.pagination a, .pagination span {
	text-decoratino:none;
	margin:0px 5px;
}
.pagination span {
	color:red;
}
.detalle-noticia h2 {
	font-size: 23px;
	font-weight: bold;
	color: #333333;
	margin:16px 0px 16px 0px;
	text-transform:none;
}
#program {
	padding: 20px 7px 0px 7px;
}
#program .child {
	margin:0px 44px 30px 0px; 
	float:left;
	width: 105px;
}
#program .child.last {
	margin-right:0;
}
#program img {
	border-bottom:4px solid #c26307;
	margin-bottom:7px;
}
#program .child .date {
	color: #c26307;
	font-family: arial;
	font-size:13px;
	margin:0px 0px 7px 0px;
}
#program .child .title {
	margin:0px 0px 5px 0px;
	font-size:13px;
	font-weight: bold;
}
#program .child .staff {
	font-size:13px;
	font-weight: normal;
	margin:0px;
}
.contacto {
	margin-top: 30px;
}
.contacto label {
	font-size: 15px;
	font-family: arial;
	text-align: left;
	margin:0px;
	color: #010101;
	width: 75px;
	float:left;
	line-height: 32px;
}
.contacto input, .contacto textarea {
	width: 335px;
	height: 24px;
	padding: 4px;
	float:left;
	background: #f5f5f5;
	border:1px solid #eceaea;
	margin-bottom: 22px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	color: #333333;
	font-family: Georgia;
}
.contacto textarea {
	width: 335px;
	height: 200px;
}
#map_canvas {
	width: 200px;
	height: 100%;
	background-color: #CCC;
	overflow: visible;
}
.contacto input[type="submit"] {
	width: auto;
	height: auto;
	margin-right: 2px;
	padding: 8px 10px;
	float:right;
	background: #f15a24;
	border:0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	color: #ffffff;
	font-size: 13px;
}
#map {
	width: 100%;
	height: 264px;
	border-bottom: 4px solid #c26307;
}
.contact-left-column,
.contact-right-column {
	float:left;
	width:210px;
	margin-top:20px;
}
.contact-left-column p,
.contact-right-column p {
	margin:0px;
	font-family: arial;
}
.contact-left-column p.strong,
.contact-right-column p.strong {
	font-weight:bold;
}
.error {
	color:red;
}
.ok {
	color: green;
}
.banner_bottom {
	clear:both;
	margin-top: 30px;
}
.audiojs { 
	width: 420px; 
	height: 36px; 
	overflow: hidden; 
	font-family: monospace; 
	font-size: 12px; 
	margin-top: 30px;
}
.audiojs .scrubber { 
	width: 240px;
}

.twitter-share-button,
.fb-like {
	float:left;
}
